svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
  }
  
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 6;
  }
  
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: #3c4761;
    text-anchor: middle;
    font-size: 24px;
    font-weight: 300;
  }
 
  /* стиль для ProgressBar*/
 
 .webdesign svg.radial-progress circle { stroke: #30bae7; }
 .htmlcss svg.radial-progress circle { stroke: #d74680; }
 .graphic svg.radial-progress circle { stroke: #15c7a8; }
 .uiux svg.radial-progress circle { stroke: #eb7d4b; }
